html {
  scroll-padding-top: 70px; /* height of sticky header */
}

body {
  height: 100vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient( #4dd2ff,  
  #66d9ff,  #80dfff,  #99e6ff,  #b3ecff, 
   #ccf2ff,  #e6f9ff,  #ffffff)
}

.nav {
  display: flex;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  justify-content: space-around;
  position: sticky;
  border-radius: 0.75vw;
  background-color:  #0099cc;
  color: white;
  /*box-shadow: 10px 10px 5px  #9494b8;*/
  margin-bottom: 8vh;
}

.nav:hover {
  background-color:     #4747d1;
  box-shadow: 10px 10px 5px  darkgray;
}

.navItem { 
  
  text-align: center;
  padding-left: 2vw;
  padding-right: 2vw;
}

.linkText{
  text-decoration: none;
  color: white;
  
}

.navItem:hover  {  
  padding-left: 2vw;
  padding-right: 2vw;
  border-radius: 0.75vw;
  background-color:     #ebebfa;
  cursor: pointer;
  transform: scale(1.1);
}

.navItem:hover .linkText {
  color: black;
  cursor: pointer;
}

fieldset {
 
  /* width: 80vw;
  height: 80vh;*/
  width: 50vw;
  background-image: linear-gradient(    #ffffff, #e6f9ff, 
  #ccf2ff, #b3ecff,
  #99e6ff,#80dfff,#66d9ff, #4dd2ff  );
   margin: auto;
}



form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  text-align: center;
}


textarea {
 /* height: 50vh;*/
  height: 25vh;
}

legend {
  background-color: #4dd2ff;
  border-radius: .75vw;
  border: solid;
  border-color: lightgrey;
  color: black;
  padding: 1vw;
}

.containerProj {
  height: 80vh;
  width: 80vw;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.75);
  border: solid;
  border-color: lightgrey;
  border-radius: .75vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projTitle {
 margin-bottom: 10vh;
 background-color: none;
}

.proj {
  width: 70vw;  
  background-color: rgba(192, 192, 192, 0.75);
  text-align: center;
}

.proj:hover {
  color: white;
  background-color: #0099cc;
  cursor: pointer;
  width: 35vw;
  transform: scale(2);
  
  /*padding-top: 2.5vh;
  padding-bottom: 2.5vh;*/
  
} 

.containerRes {
  background-color:  rgba(255, 255, 255, 0.85);
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
  border-radius: 0.75vw;
  margin-bottom: 5vh;
}

.ocupDate {
  display: flex;
  border: solid;
  border-radius: 0.75vw;
  border-color: black;
  justify-content: space-between;
  background-color: rgba(192, 192, 192, 0.85);
}

.date, .ocupation {
  padding-left: 1%;
  padding-right: 1%;
}

.pointData {
  margin-left: 5vw;
  margin-right: 5vw;
}

.company {
  text-align: center;
  font-weight: bolder;
  background-color: rgba(102, 102, 153, 0.85); 
  color: black;
}